.container {
  position:absolute;
  left:0;
  top:0;
  right:0;
  height:10vh;
  /* Rectangle: */
  background: #FFFFFF;
  box-shadow: 0 4px 4px 0 rgba(174,174,174,0.50);
  /* Spofford: */
  font-family: Avenir-Medium;
  font-size: 24px;
  color: #585858;
  padding:20px 30px;
  display:flex;
  justify-content:space-between;
}
