.leader {
  height: 100vh;
  display: flex;
  position: relative;
  //align-items: center;
  //justify-content: center;
  //flex-flow: column nowrap;
  background: white;
  background-color:#979797;
  max-width:940px;
  margin:0px auto;
  padding-top:60px;
}

.title {
  font-size: 1.8em;
  color: rgb(239, 95, 78);
}
