@import url('https://fonts.googleapis.com/css?family=BioRhyme|Montserrat');

.container {
  display:flex;
  align-items:center;
  justify-content: center;
  padding-top:10vh;
  flex-direction:column;
}

.logo {
  width:50vh;
}

.body {
  width:100vh;
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
  font-size:1.2em;
  margin:40px 0px;
  line-height: 1.5em;
}

p {
  font-family: inherit;
}
/*
.leader {
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  overflow: hidden;
  z-index: 100;
  background: white;
}

.title {
  font-size: 1.8em;
  color: rgb(239, 95, 78);
}

.changeLink {
  cursor: pointer;
  color: #42A5F5;
}

.circles {
  display:flex;

}
*/
